<h1> Details</h1>
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero1 of herojson"   
    (click)="onSelect(hero1)">
        <span class="badge">{{hero1.id}}</span> {{hero1.name}}
    </li>
</ul>
    
    <div *ngIf="selectedHero">

        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div><span >id: </span>{{selectedHero.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name">
          </label>
        </div>

      </div>

      <div *ngIf="oldselectedHero">

        <h2>{{oldselectedHero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{oldselectedHero.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="oldselectedHero.name" placeholder="name">
          </label>
        </div>

      </div>
       

    

      
      

      
